.logo{
  display:flex;
  list-style-type: none;
  font-size: 25px;
  margin-right: 150px;
  font-style: italic;
  cursor: pointer;
 
}
.nav__block{
  display:flex;
  list-style-type: none;
  font-size: 25px;
  margin-right: 0;
 
}
li {
  margin-right: 30px;
  cursor: pointer;
}
.search-container {
 
  border: none;
  border-radius: 5px;
  width: 200px;
  margin-left: 200px;
}
/* .right{
  margin-left: 100px;
} */
.fas-fa-lock{
  margin-right: 100px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 200px;
  
  justify-content: center;
  gap:50px;
  
}
.item {
  margin: 0;
  padding:0;
  text-align: center;
  display: inline-block;
  
}

.image {
  width: 250px;
  height: 250px;
}

.name {
  font-size: 24px;
  margin: 10px 0;
  cursor: pointer;
}

.price {
  font-size: 18px;
  color: #999;
}
