.logo{
  display:flex;
  list-style-type: none;
  font-size: 25px;
  margin-right: 150px;
  font-style: italic;
  cursor: pointer;
}


.nav__block{
  display:flex;
  list-style-type: none;
  font-size: 25px;
  margin-right: 0;
  
 
}
li {
  margin-right: 30px;
  cursor: pointer;
  text-decoration: none;
}
.link{
  text-decoration: none;
  color:black
}
.search-container {
 
  border: none;
  border-radius: 5px;
  width: 200px;
  margin-left: 200px;
}
/* .right{
  margin-left: 100px;
} */
.fas-fa-lock{
  margin-right: 100px;
}
body {
  background-color:antiquewhite;
}
.container {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 200px;
  
  justify-content: center;
  gap:50px;
  
}
.item {
  margin: 0;
  padding:0;
  text-align: center;
  display: inline-block;
  
}

.image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  transition: all 0.3;
  

}
.images {
  align-items: center;
  width:350px;
  height:350px;
  object-fit: contain;

}
.more_info{
display: flex;


}
.info {
  margin-left:20px;
}
.image:hover{
  transform: scale(1.2);
  box-shadow: 2px 2px 4px rgba(0.5, 0.5, 0.5, 5);
}

.name {
  font-size: 24px;
  margin: 10px 0;
  cursor: pointer;
  font-style: oblique ;
}

.price {
  font-size: 18px;
  color: #999;
}
.btn {
  border-radius: 0.5;
  cursor: pointer;
  
}
.des{
  width:500px;
}
.about{
  width:500px;
  margin:0 auto;
  line-height: 30px;
}
.footer {
  text-align: center;
  padding-top: 250px;
}
.count{
  transform: translate(42px, 18px);
}